.bg{
    width: 100%;
    height: 581px;
    background: rgb(219,223,221);
    background: linear-gradient(90deg, rgba(219,223,221,1) 0%, rgba(16,17,16,1) 90%);
    padding-top: 80px;
   
}
#bgbook{
    width: 300px;
    margin-top: 35px;
    margin-left: 25px;
    
}
.newrelease{
  float: left;
  
}

.profilephoto{
  float: left;
}


/* The sidepanel menu */
.sidepanel {
    margin-top:60px ;
    height: 520px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 150px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  h5{
    font-family: 'Parisienne', cursive;
    color:#A38A00 ;
    font-size: 30px;
  }

  #name{
    font-family: 'Charmonman', cursive;
    margin-left: 15px;
    font-size: 38px;
  }
.row{
  
  color: #111;

}
.booksreleased{
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: 20px 20px 20px;
}
.bookimg{
  max-height: 250px;
  margin-right: 10px;
}
.booksreleased::-webkit-scrollbar{
display: none;
}

.bioimg{
  max-height: 300px;
  margin: 20px;
  margin-top: 60px;

}
.biowritting{
  width:350px ;
  float: left;
  text-align: justify;
  font-family: 'Dancing Script', cursive;
  font-size: 17px;
  
}
.otherbg{
  background: rgb(12,12,13);
background: linear-gradient(45deg, rgba(12,12,13,1) 7%, rgba(172,172,173,1) 48%, rgba(17,17,18,1) 96%);
}
.bio{
  margin-top: 25px;
  border: 2px solid #A38A00;
  padding: 10px;
  height: 410px;
  border-radius: 20px;
  width: 720px;
  margin-left: 15px;
  margin-bottom: 15px;
 
}
.card{
  width: 350px;
  height: 200px;
  margin-top: 100px;
  margin-left: 25px;
  border-radius: 15px;
  padding: 20px;
  background: rgb(30,30,31);
  background: linear-gradient(270deg, rgba(30,30,31,1) 48%, rgba(18,18,20,1) 48%);
  margin-bottom: 15px;
  color: #A38A00;
  box-shadow: 10px 10px 10px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  float: left;

}

.footer{
  width: 100%;
  background: rgb(30,30,31);
background: linear-gradient(270deg, rgba(30,30,31,1) 48%, rgba(18,18,20,1) 48%);
text-align: center;
box-shadow: 10px 10px 10px;
height: 250px;
}
.follow{
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  color: #A38A00;
  padding-left: 20px;
  padding-top: 10px;
 

  font-family: 'Charmonman', cursive;
  
}
.ft{
  text-decoration: none;
  color:#A38A00;
  font-family: 'Charmonman', cursive;

}
.copyr{
  color: #49474e;
  padding-top: 179px;
  font-size: x-small;
  letter-spacing: 1px;
}